<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<title>Modal_Geodesy_Transport</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- jQuery Modal -->
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="/static/css/style2.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script type="text/javascript" src="js/project_modal.js"></script>
	
</head>

<body>

<div th:fragment="modal2" id="ex2" class="modal">
	
		 
		<h3>Затраты на транспорт</h3> 
			
	
		
		<p class="clip">
			<label for="section2">Выбрать вид затрат:</label> 
			<select name="section2" id="section2" >
				<option value="none">Виды затрат</option>
			</select>
		</p>
		
		<p class="clip">
			<label>Расстояние от базы изыскательской организации, экспедиции, партии или отряда до участка изысканий, км</label> 
			<input type="number" id="valueL" name="valueL" size="10px" placeholder="ввидите число">
		</p>
		
		<p class="clip">
			<label for="price2">Cтоимость полевых изыскательских работ, тыс. тенге.:</label> 
			<input type="number" id="cost1" name="cost1" size="10px" readonly> </input>
		</p>
	
</div>

</body>
</html>