<!DOCTYPE html>
<html>
<head>
<title>Index page</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>

<h2>Follow the link below to start the calculation</h2>
	
<p>
	<a href="project" target="_blank">Project works for construction</a>
</p>

<p>
	<a href="geodesy" target="_blank">Engineering-geodesic surveys for construction</a>
</p>

<p>
	<a href="geology" target="_blank">Engineering-geological surveys for construction</a>
</p>


<p>
	<a href="engineering " target="_blank">Engineering services in construction</a>
</p>

</body>
</html>