<!doctype html>
<html>
<head>
<title>Estimate</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- jQuery Modal -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="/static/css/style2.css">

<script type="text/javascript">
		$(document).ready(function() {
		
			$.getJSON('http://localhost:8080/resultList', function(json) {
				var tr=[];
				for (var i = 0; i < json.length; i++) {
					tr.push('<tr>');
					tr.push('<td>' + json[i].id + '</td>');
					tr.push('<td>' + json[i].customName + '</td>');
					tr.push('<td>' + json[i].nameOfPrice + '</td>');
					tr.push('<td>' + json[i].valueX + '</td>');
					tr.push('<td>' + json[i].cost + '</td>');
     				tr.push('<td><button class=\'edit\'>Edit</button>&nbsp;&nbsp;<button class=\'delete\' id=' + json[i].id + '>Delete</button></td>');
					tr.push('</tr>');
				}
				$('table').append($(tr.join('')));
			});
			
			$(document).delegate('#addNew', 'click', function(event) {
				event.preventDefault();
				
				var estimateId = $('#estimateId').val();
				
				var customName = $('#customName').val();
				
				var valueX = $('#valueX').val();
				
				var valueXmax = $('#valueXmax').val();
				
				var valueXmin = $('#valueXmin').val();
				
				var valueA = $('#valueA').val();
				
				var valueB = $('#valueB').val();
					
				var valueP2= $('#valueP2').val();
				
				var valueP3= $('#valueP3').val();
				
				var valueP4= $('#valueP4').val();
				
				var valueK= $('#valueK').val();
					
				var section= $('#section').val();
				
				var subsection= $('#subsection').val();
				
				var chapter= $('#chapter').val();
				
				var tableName= $('#table_name').val();
				
				var position= $('#position').val();
				
				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					url: "http://localhost:8080/result/save",
					data: JSON.stringify({'estimateId': estimateId, 'customName': customName, 'valueX':valueX, 'valueXmax':valueXmax, 'valueXmin':valueXmin, 'valueA':valueA,'valueB':valueB,'valueP2':valueP2, 'valueP3':valueP3,'valueP4':valueP4,'valueK':valueK, 'section':section, 'subsection':subsection, 'chapter':chapter, 'tableName':tableName, 'position': position}),
					cache: false,
					success: function(result) {
						$("#msg").html( "<span style='color: green'>Company added successfully</span>" );
						window.setTimeout(function(){location.reload()},1000)
					},
					error: function(err) {
						$("#msg").html( "<span style='color: red'>Name is required</span>" );
					}
				});
			});
			
			$(document).delegate('.delete', 'click', function() { 
				if (confirm('Do you really want to delete record?')) {
					var id = $(this).attr('id');
					var parent = $(this).parent().parent();
					$.ajax({
						type: "DELETE",
						url: "http://localhost:8080/category/delete/" + id,
						cache: false,
						success: function() {
							parent.fadeOut('slow', function() {
								$(this).remove();
							});
							location.reload(true)
						},
						error: function() {
							$('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error deleting record').fadeIn().fadeOut(4000, function() {
								$(this).remove();
							});
						}
					});
				}
			});
			
			$(document).delegate('.edit', 'click', function() {
				var parent = $(this).parent().parent();
				
				var id = parent.children("td:nth-child(1)");
				var name = parent.children("td:nth-child(2)");
				var buttons = parent.children("td:nth-child(6)");
				
				name.html("<input type='text' id='txtName' value='" + name.html() + "'/>");
				buttons.html("<button id='save'>Save</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
			});
			
			$(document).delegate('#save', 'click', function() {
				var parent = $(this).parent().parent();
				
				var id = parent.children("td:nth-child(1)");
				var name = parent.children("td:nth-child(2)");
				var buttons = parent.children("td:nth-child(6)");
				
				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					url: "http://localhost:8080/category/save",
					data: JSON.stringify({'id' : id.html(), 'name' : name.children("input[type=text]").val()}),
					cache: false,
					success: function() {
						name.html(name.children("input[type=text]").val());
						buttons.html("<button class='edit' id='" + id.html() + "'>Edit</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
					},
					error: function() {
						$('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error updating record').fadeIn().fadeOut(4000, function() {
							$(this).remove();
						});
					}
				});
			});

		});
		
	</script>
	
	<style>
   p.clip {
    white-space: normal; /* Запрещаем перенос строк */
    overflow: auto; /* Обрезаем все, что не помещается в область */
    text-overflow: inherit; /* Добавляем многоточие */
    width: "600px";
    }
  	</style>

</head>

<body>

	<h2>Estimate for design work</h2>

	<p>
		<a class='btn' href="#add" rel="modal:open">Add new design
			position</a>
	</p>

	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<th>Id</th>
			<th>Custom name of the project item</th>
			<th>Name of works according to the collection of prices for
				design work for construction</th>
			<th>Custom value</th>
			<th>Cost of work, tenge</th>
			<th>Actions</th>
		</tr>
	</table>
	
	<p>
		<label>Total cost:</label> 
		<input type="number" id="total" name="total">
	</p>
	
	<p>
		<label>Author:</label> 
		<input type="text" id="author" name="author">
	</p>
	
	<p>
		<label>Date:</label> 
		<input type="date" id="date" name="date">
	</p>
	
	<p>
		<label>Time:</label> 
		<input type="time" id="date" name="date">
	</p>

	<form id="add" action="#" class="add_form modal" style="display: none;">
		<div id='msg' />
		<h3>Add new design position</h3>
		
		<p class="clip">
			<label for="estimateId">Set estimateId</label> 
			<input type="number" id="estimateId" name="estimateId" size="10px" placeholder="write number like 1234"> </input>
		</p>
		
		<button type="button" id="checkEstimateId" name="checkEstimateId" >Check estimateId</button>

		<p class="clip">
			<label for="section">Choose a section:</label> 
			<select name="section" id="section" >
				<option value="none">list of sections</option>
			</select>
		</p>

		<p class="clip">
			<label for="subsection">Choose a subsection:</label> 
			<select	name="subsection" id="subsection">
				<option value="none">list of subsections</option>
			</select>
		</p>

		<p class="clip">
			<label for="chapter">Choose a chapter:</label> <select name="chapter"
				id="chapter">
				<option value="none">list of chapters</option>
			</select>
		</p>

		<p class="clip">
			<label for="table_name">Choose a table:</label> 
			<select	name="table_name" id="table_name">
				<option value="none">list of tables</option>
			</select>
		</p>

		<p class="clip">
			<label for="position">Choose a position:</label> <select
				name="position" id="position">
				<option value="none">list of positions</option>
			</select>
		</p>

		<p class="clip">
			<label>Input custom name of work</label> <input type="text"
				id="customName" name="customName">
		</p>

		<p class="clip">
			<label>Input custom valueX</label> <input type="number" id="valueX"
				name="valueX"> &nbsp; <input type="text" id="unit"
				name="unit" size="10px" readonly> </input>
		</p>

		<p class="clip">
			<label for="valueXmax">Default value of valueXmax:</label> <input
				type="number" id="valueXmax" name="valueXmax" size="10px" readonly> </input>
		</p>

		<p class="clip">
			<label for="valueXmin">Default value of valueXmin:</label> <input
				type="number" id="valueXmin" name="valueXmin" size="10px" readonly> </input>
		</p>
		
		<p class="clip">
			<label for="valueA">Default value of valueA:</label> <input
				type="number" id="valueA" name="valueA" size="10px" readonly> </input>
		</p>
		
		<p class="clip">
			<label for="valueB">Default value of valueB:</label> <input
				type="number" id="valueB" name="valueB" size="10px" readonly> </input>
		</p>

		<p class="clip">
			<label for="valueK">Choose K****:</label> 
			<select name="valueK" id="valueK">
				<option value="K1" id="valueK1" name="valueK2">Коэффициент на стадии «проект»</option>
				<option value="K2" id="valueK2" name="valueK2">Коэффициент на стадиях «рабочий проект» и «рабочая документация»</option>
			</select>
		</p>


		<p class="clip">
			<label for="valueP2">Поправочные коэффициенты при наличии
				факторов, усложняющих проектирование, P2*</label> 
				<select name="valueP2" id="valueP2">
					<option value="1" selected="selected">Не применять, нет указанных факторов</option>
				</select>
		</p>

		<p class="clip">
			<label>Input valueP3**</label> <select name="valueP2" id="valueP3">
				<option value="1" selected="selected">Не применять, нет указанных факторов</option>
			</select>
		</p>

		<p class="clip">
			<label>Input valueP4***</label> <select name="valueP4" id="valueP4">
				<option value="1" selected="selected">Не применять, нет указанных факторов</option>
			</select>
		</p>

		<p class="clip">
			<input type="submit" id="addNew" value="Submit">
		</p>
	</form>

</body>

<script>
    $(document).ready(function () {
    		
    		$('#checkEstimateId').click(function () {
    		
				var estimateId = $('#estimateId').val();

	         	var url = 'http://localhost:8080/result/estimateId/'+estimateId;
		           	$.getJSON(url, function (data) {
		           	
		           	$.each(data, function (index, value) {
		           	  		if (estimateId==value.estimateId) {
		           	  		alert("estimateId is exist");
           				}
           				else {
           					alert("estimateId is not exist");
           				}
           				
           				});
           			});
             });
 
       
        $('#section').click(function () {
            
            var url = "http://localhost:8080/sectionList";

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#section').append('<option value="' + value.section + '">' + value.section + '</option>');
            		});
                    
                });
            });
            
            
            $('#subsection').click(function () {
            var section = $("#section").val();
            var url = 'http://localhost:8080/subsectionList/'+section;

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                  
                    $('#subsection').append('<option value="' + value.subsection + '">' + value.subsection + '</option>');
            		});
                    
                });
            });
            
            
            $('#chapter').click(function () {
            var subsection = $("#subsection").val();
            var url = 'http://localhost:8080/chapterList/'+subsection;

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                  
                    $('#chapter').append('<option value="' + value.chapter + '">' + value.chapter + '</option>');
            		});
                    
                });
            });
            
            
            $('#table_name').click(function () {
            var chapter = $("#chapter").val();
            var url = 'http://localhost:8080/tableList/'+chapter;

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                  
                    $('#table_name').append('<option value="' + value.tableName + '">' + value.tableName + '</option>');
            		});
                    
                });
            });
            
            
            $('#position').click(function () {
            var table_name = $("#table_name").val();
             
            var url = 'http://localhost:8080/positionList/'+table_name;

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                  
                    $('#position').append('<option value="' + value.position + '">' + value.position + '</option>');
              		});
            		
            		
            		});
                      
  				});
  				
  				
  				
  				 $('#customName').click(function () {
			            var position = $("#position").val();
			            var url = 'http://localhost:8080/positionData/'+position;
				        $.getJSON(url, function (data) {
			   			        $('#valueXmax').val(data.valueXmax);
			   			        $('#valueXmin').val(data.valueXmin); 
			   			        $('#unit').val(data.unit);  
			   			        $('#valueA').val(data.valueA);
			   			        $('#valueB').val(data.valueB);	
			   			        $('#valueK1').val(data.valueK1);
			   			        $('#valueK2').val(data.valueK2);
			               	});
			       		});
			       		
			       		
			    $('#valueK').click(function () {
			    	var valueK = $("#valueK").val();
			    	var url = 'http://localhost:8080/positionData/'+position;
				        $.getJSON(url, function (data) {
			    	if (valueK==K1) {
			               $('#valueK').append('<option value="' + value.valueK1 + '">' + value.valueK1 + '</option>');
			             }
                   	else {
                   	 		$('#valueK').append('<option value="' + value.valueK2 + '">' + value.valueK2 + '</option>');		
                   	}
                   	});
			    });
			       		
    			       		
			    $('#valueP2').click(function () {
			    var valueK = $("#valueK").val();
			    var valueK1 = $("#valueK1").val();
			    var valueK2 = $("#valueK2").val();
			        var url = 'http://localhost:8080/application2List';
			
			        $.getJSON(url, function (data) {
			          
			               $.each(data, function (index, value) {
			                 	if (valueK==valueK1) {
			                   		$('#valueP2').append('<option value="' + value.ratio1 + '">' + value.name + '</option>');
			                   	}
			                   	else {
			                   	$('#valueP2').append('<option value="' + value.ratio2 + '">' + value.name + '</option>');
			                   	}
				            });
				    });
			 	});
			    
			    $('#valueP3').click(function () {
		    	
			        var url = 'http://localhost:8080/application3List';
			
			        $.getJSON(url, function (data) {
			          
			               $.each(data, function (index, value) {
			                 	
			                   		$('#valueP3').append('<option value="' + value.ratio + '">' + value.name + '</option>');
			                   
				            });
				    });
			 	});
			 	
			 	$('#valueP4').click(function () {
			   
			        var url = 'http://localhost:8080/application4List';
			
			        $.getJSON(url, function (data) {
			          
			               $.each(data, function (index, value) {
			                 
			                   		$('#valueP4').append('<option value="' + value.ratio + '">' + value.name + '</option>');
			                   	
				            });
				    });
			 	});
			 	
			 	
			 	
  	
});
       
</script>
</html>