<!doctype html>
<html>
<head>
<title>Estimate</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- jQuery Modal -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="/static/css/style2.css">

<script type="text/javascript">
		$(document).ready(function() {
			$.getJSON('http://localhost:8080/categoryList', function(json) {
				var tr=[];
				for (var i = 0; i < json.length; i++) {
					tr.push('<tr>');
					tr.push('<td>' + json[i].id + '</td>');
					tr.push('<td>' + json[i].name + '</td>');
					tr.push('<td>' + json[i].name + '</td>');
					tr.push('<td>' + json[i].name + '</td>');
					tr.push('<td>' + json[i].name + '</td>');
     				tr.push('<td><button class=\'edit\'>Edit</button>&nbsp;&nbsp;<button class=\'delete\' id=' + json[i].id + '>Delete</button></td>');
					tr.push('</tr>');
				}
				$('table').append($(tr.join('')));
			});
			
			$(document).delegate('#addNew', 'click', function(event) {
				event.preventDefault();
				
				var name = $('#name').val();
				var parent2 = $('#parent2').val();
				
				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					url: "http://localhost:8080/category/save",
					data: JSON.stringify({'name': name, 'parent2': parent2}),
					cache: false,
					success: function(result) {
						$("#msg").html( "<span style='color: green'>Company added successfully</span>" );
						window.setTimeout(function(){location.reload()},1000)
					},
					error: function(err) {
						$("#msg").html( "<span style='color: red'>Name is required</span>" );
					}
				});
			});
			
			$(document).delegate('.delete', 'click', function() { 
				if (confirm('Do you really want to delete record?')) {
					var id = $(this).attr('id');
					var parent = $(this).parent().parent();
					$.ajax({
						type: "DELETE",
						url: "http://localhost:8080/category/delete/" + id,
						cache: false,
						success: function() {
							parent.fadeOut('slow', function() {
								$(this).remove();
							});
							location.reload(true)
						},
						error: function() {
							$('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error deleting record').fadeIn().fadeOut(4000, function() {
								$(this).remove();
							});
						}
					});
				}
			});
			
			$(document).delegate('.edit', 'click', function() {
				var parent = $(this).parent().parent();
				
				var id = parent.children("td:nth-child(1)");
				var name = parent.children("td:nth-child(2)");
				var buttons = parent.children("td:nth-child(6)");
				
				name.html("<input type='text' id='txtName' value='" + name.html() + "'/>");
				buttons.html("<button id='save'>Save</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
			});
			
			$(document).delegate('#save', 'click', function() {
				var parent = $(this).parent().parent();
				
				var id = parent.children("td:nth-child(1)");
				var name = parent.children("td:nth-child(2)");
				var buttons = parent.children("td:nth-child(6)");
				
				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					url: "http://localhost:8080/category/save",
					data: JSON.stringify({'id' : id.html(), 'name' : name.children("input[type=text]").val()}),
					cache: false,
					success: function() {
						name.html(name.children("input[type=text]").val());
						buttons.html("<button class='edit' id='" + id.html() + "'>Edit</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
					},
					error: function() {
						$('#err').html('<span style=\'color:red; font-weight: bold; font-size: 30px;\'>Error updating record').fadeIn().fadeOut(4000, function() {
							$(this).remove();
						});
					}
				});
			});

		});
		
	</script>

</head>

<body>

	<h2>Estimate for design work</h2>

	<p>
		<a class='btn' href="#add" rel="modal:open">Add new design
			position</a>
	</p>

	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<th>Id</th>
			<th>Custom name of the project item</th>
			<th>Name of works according to the collection of prices for
				design work for construction</th>
			<th>Calculation of the cost</th>
			<th>Cost of work, tenge</th>
			<th>Actions</th>
		</tr>
	</table>

	<form id="add" action="#" class="add_form modal" style="display: none;">
		<div id='msg' />
		<h3>Add new design position</h3>

		<p>
			<label for="section">Choose a section:</label> 
			<select name="section" id="section">
				<option value="none">list of sections</option>
			</select>
		</p>

		<p>
			<label for="subsection">Choose a subsection:</label> <select
				name="subsection" id="subsection">
				<option value="none">list of subsections</option>
			</select>
		</p>

		<p>
			<label for="chapter">Choose a chapter:</label> <select name="chapter"
				id="chapter">
				<option value="none">list of chapters</option>
			</select>
		</p>

		<p>
			<label for="table">Choose a table:</label> <select name="table"
				id="table">
				<option value="none">list of tables</option>
			</select>
		</p>

		<p>
			<label for="position">Choose a position:</label> <select
				name="position" id="position">
				<option value="none">list of positions</option>
			</select>
		</p>

		<p>
			<label>Input custom name of work</label> <input type="text"
				id="customName" name="customName">
		</p>

		<p>
			<label>Input custom valueX</label> <input type="number" id="valueX"
				name="valueX"> &nbsp; <input type="text" id="unit"
				name="unit" size="10px">
		</p>

		<p>
			<label>Input valueP2*</label> <select name="valueP2" id="valueP2">
				<option value="1">default value 1</option>
			</select>
		</p>

		<p>
			<label>Input valueP3**</label> <select name="valueP2" id="valueP3">
				<option value="1">default value 1</option>
			</select>
		</p>

		<p>
			<label>Input valueP4***</label> <select name="valueP4" id="valueP4">
				<option value="1" selected="selected">default value 1</option>
			</select>
		</p>

		<p>
			<label for="valueK">Choose K****:</label> <select name="valueK"
				id="valueK">
				<option value="1">default value 1</option>
			</select>
		</p>

		<p>
			<input type="submit" id="addNew" value="Submit">
		</p>
	</form>

</body>

<script>
    $(document).ready(function () {
        $('#section').click(function () {
            
            var url = "http://localhost:8080/sectionList";

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#section').append('<option value="' + value.id + '">' + value.section + '</option>');
            		});
                    
                });
            });
            
            
            $('#subsection').click(function () {
            var myValue = $("#section").val();
            var url = 'http://localhost:8080/subsectionList/'+myValue;

            $.getJSON(url, function (data) {
           
                $.each(data, function (index, value) {
                  
                    $('#subsection').append('<option value="' + value.id + '">' + value.subsection + '</option>');
            		});
                    
                });
            });
            
            
            
           
			
      
      
         
     });
</script>
</html>